*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    max-width: 600px;
    margin: 0 auto;
}


.slaider-container {
    overflow: hidden;
    background-color: pink;
}
.slaider-track {
    display: flex;
    background-color:yellow;
    transition: 0.5 ease;
}
.slaider-item {
    height: 100px;
    max-width: 200px;
}
.slaider-btn {
    text-align: center;
}
.slaider-item:nth-child(3n+1){
    background-color: red;
}
.slaider-item:nth-child(3n+2){
    background-color: green;
}
.slaider-item:nth-child(3n+3){
    background-color: blue;
}
